body {
    height: 100%;
    min-width: 320px;
    width: 75%;
    margin: 0px auto;
    padding: 0px;
    font-size: 18px;
    font-family: Arial;
    background-color: black;

  }


  .section-1 {
    background-color: #4912F6;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
  } 

  .section-2 {
    background-color: #4912F6;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    font-size: 18px;
  } 



  input[type='button'] {
    padding: 15px 25px;
    font-weight: bold;
    white-space: normal;
    border: 0px;
    border-radius: 25px;
    font-size: 18px;
    width: 210px;
  }
 
  /*
  img {
    position: absolute;
    left: 36%;
    top: 0px;
    z-index: -2;
  }
*/

  a:visited {
    color: white;
  }
  
  a:hover {
    color: white;
  }

  .headline-1 {
    font-size: 36px;
    padding: 0px;
  }

  .headline-2 {
    font-size: 40px;
    padding: 0px;
  }





